.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* shared style  */
.secondary-bg{
    background: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    color:#FFF;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    padding: 10px 17px;
    font-size: 15px;
    font-weight: bold;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.Section-description{
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}
.text-center{
    text-align: center;
}

/* nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 110px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner css */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 110px;
}
.banner-container{
    max-width: 580px;
}
.banner-greeting{
    font-size: 25px;
    font-weight: 600;
}
.banner-title{
    color:#181818;
    font-size: 42.5px;
    font-weight: 600;
}
.banner-description{
    font-size: 13px;
    font-weight: 400;
    line-height: 30px; 
}
.banner-profile-pic{
    width: 584px;
}
/* main style */
main{
    max-width: 900px;
    margin: 0 auto;
}
main section{
    margin-top: 75px;
    margin-bottom: 30px;
}
/* about */
.about{
    border-radius: 10px;
    padding: 65px 150px;
    text-align: center;
}
.about-itmes{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color:  #757575;
    font-size: 13px;
    font-weight: 400;
}
.item-description{
    color:  #757575;
    font-size: 13px;
    font-weight: 700;
}
/* skills css */
.skills-container{
    display: flex;
    gap: 35px;
}
.skill{
    padding: 30px ;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 0;
}
.resume-download-cv{
    margin-top: 50px;
}
/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}